.App {
  text-align: center;
  background-color: azure;
  padding: 7em;
}
:root {
  background-color:azure;
}
.quote{
  font-size: 1rem;
  background-color: brown;
  padding: 3rem;
}

.author{
  text-align: end;
  color: green;
  font-style: italic;
}

.button {
  padding: 1rem;
  background-color: black;
  color: blueviolet;
  font-size: 1rem;
}

.image{
  width:20rem;
  height:20rem;
}

.footer{margin-top: 5rem;}


