.App {
  text-align: center;
  background-color: azure;
  background-image: url(https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {margin-top: 1rem;
  font-size: 1rem;
  color: beige;
  font-size: 3rem;
}
.quote {
  font-size: 1rem;
  background-color:black;
  padding: 2rem;
  color: beige;
}

.author {
  text-align: end;
  color: wheat;
  font-style: italic;
  font-size: 1rem;
  
}

.button {
  padding: 1rem;
  background-color: black;
  color: brown;
  font-size: 1rem;
}

.image {
  width: 50rem;
  height: 30rem;
}

.list {
  list-style:none;
  color: orange;

}

.search_title {
  font-size: 2rem;
  margin-top: 2rem;
  color: green;
}

.footer {
  margin-top: 5rem;
  color:red;
}

@media (max-width:480px) {
  .image {
  width: 15rem;
  height: 10rem;
}
}