body{
  background-color: rgb(95, 178, 233);
  color: rgb(9, 9, 9);
}

h1{
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-family: fantasy;
  border-bottom: 1px solid rgb(99, 42, 9);
  
}

.container{
  margin: 10%;
  padding: 10px;
  text-align: center;
  font-style: italic;
}

.quotes{
  font-size: x-large;
}

.button{
  margin: 20px;
  padding:20px;
}

.footer{
font-size: small;
text-align: center;
}