.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.hide {
  display: none;
}

.homeContainer,
.quotes-container h1 {
  font-size: 2.5rem;
  color: #bfbcbc;
text-shadow: 3px 5px 2px #474747;
}
.quote-search {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 2% 25%;
  padding: 1.5rem;
  text-align: left;
  gap: 2rem;
  border-radius: 12px;
}

.main-header__item-list {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}

.main-header__item {
  /* border: 2px solid #00080d; */
  text-decoration: none;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 12px;
  list-style: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button {
  margin-top: 1.5rem;
  padding: 9px 25px;
  /* background-color: #74afd4; */
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  /* margin-top: 1rem; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.all-quotes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 0 5%;
}
.single-quotes {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1.5rem;
  text-align: left;
  border-radius: 12px;
}
.single-quotes span,
.random span,
.quote-search span {
  font-size: 1.5rem;
}
.single-quotes:hover {
  box-shadow: none;
  /* border: 2px solid black; */
  transition: 0.7s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.random {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin: 2% 25%;
  padding: 1.5rem;
  text-align: left;
  border-radius: 12px;
}
