.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
button{
  display: flex;
  margin: 0 auto;
}
.quotes{
  background-color: #61dafb;
  display: flex;
  max-width: 400px;
  margin: 0 auto;
 font-size: 1.5rem;
 font-family: Lucida Grande; 
 
}
p{
  margin-top: 8rem;
  margin-right: 3rem;
}
.Button-quotes{
  padding-top: 5.5rem;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
