<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="menu">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/quotes">quotes</a></li>
            <li><a href="/quotes/random">QuotesRandom</a></li>
          </ul>
        </div>
        <div class="menu">
          <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
          </ul>
        </div>
      </header>
      <main>
        <div class="page-title">
          <h1>#title#</h1>
        </div>
        <div class="content">#message#</div>
      </main>
      <footer>
        <div class="copyright">Node-Coursework-CYF</div>
      </footer>
    </div>
  </body>
</html>
