body{
  background-image: linear-gradient(90deg, #d4fc79 0%, #96e6a1 100%);
}
.App {
  text-align: center;
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 2rem auto 2rem auto;
}

.App-header {
  width: 20em;
  display: flex;
  color: grey;
  align-items: end;
  text-align: justify;
  padding: 0.5em;
  margin-left: auto;
  margin-right: auto;
}
.header{
  
  background-size: cover;
}
.navigation{
   display: flex;
  justify-content: space-around;
  font-size: 1.5em;
}
.navbar{
  color: grey;
  text-decoration: none;
  padding: 0.5em;
}
.navbar:hover {
  color:blue
}

.quote {
  font-style: italic;
}

.author {
  font-weight: bold;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
