.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App {
  height: 100%;
  width: 100%;
  position: absolute;
  justify-content: center;
  padding-top: 4rem;
  background-color: rgb(250, 241, 227);

}

.card-Wrapper {
  display: flex;
  justify-content: center;
}

.card {
  background-image: linear-gradient(to bottom right, #e3cfbe, #c3aa94);
  max-width: 40rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(255, 255, 255);

}

.quote {
  font-size: 18px;
  border-bottom: rgb(237, 224, 217) solid 1px;
  padding-bottom: 1rem;
}

button {
  background-color: #603a08;
  border: none;
  padding: 0.5rem;
  border-radius: 0.3rem;
  color: white;
  border: rgb(237, 224, 217) solid 1px;
}