.container {
  padding: 1em;
}
.quote_div {
  padding: 1em;
  font-size: 1.3rem;
  background: black;
  margin: 1em auto;
  color: rgb(222, 222, 222);
  border-radius: 10px;
  border-top-left-radius: 111%;
  text-shadow: 0px 0px 8px black;
}
.quote_btn {
  padding: 0.5em;
  color: rgb(175, 49, 49);
  background: black;
  border-radius: 20px;
  display: block;
  font-size: 2rem;
  margin: 1em auto;
  cursor: pointer;
}
.quote_div h6,
.quote_div h3 {
  text-align: center;
}
.single_quote_div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.8em;
  left: 0;
}
hr {
  width: 80%;
  margin: 0.5em auto;
  border: 1px solid rgb(175, 49, 49);
}
